<?xml version="1.0" encoding="utf-8" ?>
<Settings  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
    <MainForm>
        <FormZoom>
            <x>1</x>
            <y>1</y>
        </FormZoom>
        <RoundedCornerRadius>0</RoundedCornerRadius>
        <BackgroundType>Image</BackgroundType>
        <BackgroundImage>screenShot0047.jpg</BackgroundImage>
        <BackgroundImage>background.jpg</BackgroundImage>
        <BackgroundImage>harvesters.jpg</BackgroundImage>
        <BackgroundImage>nighttime.jpg</BackgroundImage>
        <BackgroundImage>twin_suns.jpg</BackgroundImage>
        <DefaultPalette>Standard</DefaultPalette>
        <DefaultFont>Verdana</DefaultFont>
        <SplitHeader>false</SplitHeader>
    </MainForm>
    <Palettes>
        <Palette Name="Standard">
            <SolidColorBrush Key="LightFill" Color="#FFFFFFFF"/>
            <SolidColorBrush Key="TitleText" Color="#FFFFFFFF" />
            <SolidColorBrush Key="DarkText" Color="#FF00324A"/>
            <SolidColorBrush Key="DarkFill" Color="#FF00324A"/>
            <SolidColorBrush Key="MouseOver" Color="#FFCD0B0B"/>
            <SolidColorBrush Key="TitleArea" Color="#FF525D63" />
            <SolidColorBrush Key="ControlArea" Color="#77000000" />
            <SolidColorBrush Key="StatusArea" Color="#FF525D63" />
            <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
            <RadialGradientBrush Key="DarkAreaFill">
                <GradientStop Color="#77000000" Offset="0"/>
                <GradientStop Color="#77000000" Offset="1"/>
            </RadialGradientBrush>
            <RadialGradientBrush Key="LightAreaFill">
                <GradientStop Color="#99AAAAAA" Offset="0"/>
                <GradientStop Color="#99FFFFFF" Offset="1"/>
            </RadialGradientBrush>
        </Palette>
    </Palettes>
</Settings>
