<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
  <MainForm>
    <FormZoom>
        <x>1</x>
        <y>1</y>
    </FormZoom>
      <RoundedCornerRadius>10</RoundedCornerRadius>
    <BackgroundType>Path</BackgroundType>
    <PathData>M0,18.833333 C0,18.833333 -1.2865886,5.0162383 18.166667,1.8476688 19.537205,1.6244339 282.66146,2.5101843 282.66146,2.5101843 282.66146,2.5101843 299.56054,-0.94925293 300.66076,13.342906 301.32797,22.010127 309.99358,25.347426 317.82676,25.847437 325.65993,26.347449 623.82111,25.676581 623.82111,25.676581 623.82111,25.676581 637.82151,34.667791 639.9878,47.834342 640.63776,51.784793 639.82112,460.84717 639.82112,460.84717 639.82112,460.84717 640.32135,477.85776, 622.48843,480.85789 618.69402,481.49624 17.499675,481.35758 17.499675,481.35758 17.499675,481.35758 1.3337772,477.51377 0,461.18081 -0.18991766,458.85515 0,18.833333 0,18.833333 z</PathData>
    <MsgBoxPathData>M0.33333333,18C0.33333333,18 -1.2295547,2.414832 18.333334,0.01433547 21.166667,-0.33333333 283.16146,-0.1148157 283.16146,-0.1148157 283.16146,-0.1148157 300.81896,-1.2254443 302.58333,13 303.67257,21.782094 310.99358,23.680759 318.82676,24.18077 326.65993,24.680782 623.82111,23.509914 623.82111,23.509914 623.82111,23.509914 640.25,34.25 639.9878,47.834342 639.90412,52.16955 640,467.9375 640,467.9375 640,467.9375 639.75,478.125 627.33227,479.98712 623.52709,480.55773 11.535572,479.90531 11.535572,479.90531 11.535572,479.90531 0.375,477.75 -0.03125,466.8125 -0.11785948,464.48071 0.33333333,18 0.33333333,18z</MsgBoxPathData>
    <BorderThickness>4</BorderThickness>
    <BackgroundColor>#99000000</BackgroundColor>
    <DefaultPalette>Alpha_Blue</DefaultPalette>
    <DefaultFont>Verdana</DefaultFont>
    <SplitHeader>true</SplitHeader>
    <TitlePath>M2.1650272,19.079267 C2.1650272,19.079267 0.66583608,4.6248675 19.998785,2.0764036 C20.997727,1.9447233 284.00491,2.0768713 284.00491,2.0768713 C284.00491,2.0768713 301.49933,3.9583333 301.83194,16.916303 C302.04327,25.14938 308.33261,30.458333 319.1657,32.916645 C319.52457,32.998081 2.1653596,34.083001 2.1653596,34.083001 z</TitlePath>
    <WindowControlsPath>M318.24721,23.002179 C318.25199,22.98108 22.687999,22.979153 22.687999,22.979153 22.687999,22.979153 5.516296,20.4369 4.814827,12.12891 4.121718,3.9199292 1.5690643,3.0289068 -9.2714537,0.60391468 -9.6305666,0.52358217 306.64405,0.2219648 306.64405,0.2219648 306.64405,0.2219648 314.1249,0.70570745 318.12153,15.165307 318.43561,16.301652 318.24124,23.028538 318.24721,23.002179 z</WindowControlsPath>
    <StatusPath>M0.16740942,0.36400014 L-0.020590921,8.1025237 C-0.020590921,8.1025237 -0.834,20.001667 11.983247,22.657566 12.214366,22.705457 622.69917,22.750004 622.69917,22.750004 622.69917,22.750004 640.269,25.132678 640.2285,8.1025 640.21013,0.37734671 640.24412,0.381875 640.24412,0.381875 z</StatusPath>
    <StatusBorderThickness>
      <Top>4</Top>
      <Left>4</Left>
      <Right>4</Right>
      <Bottom>0</Bottom>
    </StatusBorderThickness>
    <ServerType>Planets</ServerType>
  </MainForm>
  <Palettes>
    <Palette Name="Alpha Blue">
      <SolidColorBrush Key="LightFill" Color="#FF21E1F3"/>
      <SolidColorBrush Key="TitleText" Color="#FF00324A"/>
      <SolidColorBrush Key="DarkText" Color="#FF00324A"/>
      <SolidColorBrush Key="DarkFill" Color="#FF00324A"/>
      <SolidColorBrush Key="MouseOver" Color="#FFCD0B0B"/>
      <SolidColorBrush Key="TitleArea" Color="#FF21E1F3" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF21E1F3" />
       <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#BB015178" Offset="0"/>
        <GradientStop Color="#BB00324A" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FFD4D4D4" Offset="0"/>
        <GradientStop Color="#FF21E1F3" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="C3-P0">
      <SolidColorBrush Key="LightFill" Color="#FFD7A41F"/>
      <SolidColorBrush Key="TitleText" Color="#FF563105"/>
      <SolidColorBrush Key="DarkText" Color="#FF563105"/>
      <SolidColorBrush Key="DarkFill" Color="#FF563105"/>
      <SolidColorBrush Key="MouseOver" Color="#FF926E11"/>
      <SolidColorBrush Key="TitleArea" Color="#FFD7A41F" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FFD7A41F" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF65490A" Offset="0"/>
        <GradientStop Color="#FF513C02" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FFD2A01E" Offset="0"/>
        <GradientStop Color="#FF926E11" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Destroyer">
      <SolidColorBrush Key="LightFill" Color="#FF6FB1C1"/>
      <SolidColorBrush Key="TitleText" Color="#FF2D343D"/>
      <SolidColorBrush Key="DarkText" Color="#FF2D343D"/>
      <SolidColorBrush Key="DarkFill" Color="#FF2D343D"/>
      <SolidColorBrush Key="MouseOver" Color="#FF926E11"/>
      <SolidColorBrush Key="TitleArea" Color="#FF6FB1C1" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF6FB1C1" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF30434E" Offset="0"/>
        <GradientStop Color="#FF293943" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF92B8C7" Offset="0"/>
        <GradientStop Color="#FF83A8B8" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Hutt">
      <SolidColorBrush Key="LightFill" Color="#FF339239"/>
      <SolidColorBrush Key="TitleText" Color="#FFCDFF99"/>
      <SolidColorBrush Key="DarkText" Color="#FFCDFF99"/>
      <SolidColorBrush Key="DarkFill" Color="#FFCDFF99"/>
      <SolidColorBrush Key="MouseOver" Color="#FF926E11"/>
      <SolidColorBrush Key="TitleArea" Color="#FF339239" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF339239" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF357244" Offset="0"/>
        <GradientStop Color="#FF244D2B" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF74BF74" Offset="0"/>
        <GradientStop Color="#FF308A32" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Imperial">
      <SolidColorBrush Key="LightFill" Color="#FF3E45DB"/>
      <SolidColorBrush Key="TitleText" Color="#FFBEE5FD"/>
      <SolidColorBrush Key="DarkText" Color="#FFBEE5FD"/>
      <SolidColorBrush Key="DarkFill" Color="#FFBEE5FD"/>
      <SolidColorBrush Key="MouseOver" Color="#FF926E11"/>
      <SolidColorBrush Key="TitleArea" Color="#FF3E45DB" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF3E45DB" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF4437A7" Offset="0"/>
        <GradientStop Color="#FF241770" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF2B1BAD" Offset="0"/>
        <GradientStop Color="#FF353BC1" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Light Blue">
      <SolidColorBrush Key="LightFill" Color="#FF6FB1C1"/>
      <SolidColorBrush Key="TitleText" Color="#FF2D343D"/>
      <SolidColorBrush Key="DarkText" Color="#FF2D343D"/>
      <SolidColorBrush Key="DarkFill" Color="#FF2D343D"/>
      <SolidColorBrush Key="MouseOver" Color="#FF926E11"/>
      <SolidColorBrush Key="TitleArea" Color="#FF6FB1C1" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF6FB1C1" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF30414C" Offset="0"/>
        <GradientStop Color="#FF232F35" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF92B8C7" Offset="0"/>
        <GradientStop Color="#FF48687A" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Protean">
      <SolidColorBrush Key="LightFill" Color="#FF93C1D3"/>
      <SolidColorBrush Key="TitleText" Color="#FF252C33"/>
      <SolidColorBrush Key="DarkText" Color="#FF252C33"/>
      <SolidColorBrush Key="DarkFill" Color="#FF252C33"/>
      <SolidColorBrush Key="MouseOver" Color="#FF926E11"/>
      <SolidColorBrush Key="TitleArea" Color="#FF93C1D3" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF93C1D3" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF30404B" Offset="0"/>
        <GradientStop Color="#FF223037" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF91B7C7" Offset="0"/>
        <GradientStop Color="#FF3E5766" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Rebel">
      <SolidColorBrush Key="LightFill" Color="#FFD96F33"/>
      <SolidColorBrush Key="TitleText" Color="#FF4F0003"/>
      <SolidColorBrush Key="DarkText" Color="#FF4F0003"/>
      <SolidColorBrush Key="DarkFill" Color="#FF4F0003"/>
      <SolidColorBrush Key="MouseOver" Color="#FFF1DA2C"/>
      <SolidColorBrush Key="TitleArea" Color="#FFD96F33" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FFD96F33" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF4F1F17" Offset="0"/>
        <GradientStop Color="#FF3F1F11" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FFDC6530" Offset="0"/>
        <GradientStop Color="#FF9D4523" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Rebel Suit">
      <SolidColorBrush Key="LightFill" Color="#FFD96F33"/>
      <SolidColorBrush Key="DarkText" Color="#FF000000"/>
      <SolidColorBrush Key="DarkFill" Color="#FF000000"/>
      <SolidColorBrush Key="MouseOver" Color="#FFDBD7E7"/>
      <SolidColorBrush Key="TitleArea" Color="#FFD96F33" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FFD96F33" />
      <SolidColorBrush Key="TitleText" Color="#FF000000"/>
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF3B4B54" Offset="0"/>
        <GradientStop Color="#FF3A4449" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF92B5BC" Offset="0"/>
        <GradientStop Color="#FF506D72" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Tint of Olive">
      <SolidColorBrush Key="LightFill" Color="#FF9A001C"/>
      <SolidColorBrush Key="TitleText" Color="#FFE2BB1D"/>
      <SolidColorBrush Key="DarkText" Color="#FFE2BB1D"/>
      <SolidColorBrush Key="DarkFill" Color="#FFE2BB1D"/>
      <SolidColorBrush Key="MouseOver" Color="#FFE0B91D"/>
      <SolidColorBrush Key="TitleArea" Color="#FF860018" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FF860018" />
         <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF3D4633" Offset="0"/>
        <GradientStop Color="#FF2E3528" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FF64803D" Offset="0"/>
        <GradientStop Color="#FF3C4633" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
    <Palette Name="Windu Purple">
      <SolidColorBrush Key="LightFill" Color="#FFC27CFF"/>
      <SolidColorBrush Key="TitleText" Color="#FF410080"/>
      <SolidColorBrush Key="DarkText" Color="#FF410080"/>
      <SolidColorBrush Key="DarkFill" Color="#FF410080"/>
      <SolidColorBrush Key="MouseOver" Color="#FFCD0B0B"/>
      <SolidColorBrush Key="TitleArea" Color="#FFC27CFF" />
      <SolidColorBrush Key="ControlArea" Color="#88000000" />
      <SolidColorBrush Key="StatusArea" Color="#FFC27CFF" />
      <SolidColorBrush Key="FunctionText" Color="#FF9E9A96" />
      <RadialGradientBrush Key="DarkAreaFill">
        <GradientStop Color="#FF3D176F" Offset="0"/>
        <GradientStop Color="#FF2E0155" Offset="1"/>
      </RadialGradientBrush>
      <RadialGradientBrush Key="LightAreaFill">
        <GradientStop Color="#FFBC78F7" Offset="0"/>
        <GradientStop Color="#FF6D00D5" Offset="1"/>
      </RadialGradientBrush>
    </Palette>
  </Palettes>  
</Settings>
